@if ((this.ticket | async); as ticket) {
@if (!ticketTitleEdit) {
<h2>{{ticket.title}} <button type="button" (click)="editTitle()">Edit</button></h2>
} @else {
<input type="text" name="ticketTitle" id="projName" [(ngModel)]="ticket.title" /> <button type="button"
  (click)="saveTitle()">Save</button>
}

<div class="ticketActions">
  <p class="fieldName"><strong>Action: </strong></p>
  @if (ticket.status === "CREATED") {
  @if (this.hasUserApproved() | async) {
  <button type="button" (click)="finalApprove()">Final Content Approve</button>
  } @else {
  <button type="button" (click)="approve()">Content Approve</button>
  }
  } @else if (ticket.status === "ESTIMATION_READY") {
  @if (this.hasUserVoted() | async) {
  <div class="ticketActions">
    <select name="selectedSize" id="selectedSize" [(ngModel)]="selectedSize">
      <option value="SIZE_1">S(1)</option>
      <option value="SIZE_2">S(2)</option>
      <option value="SIZE_3">S(3)</option>
      <option value="SIZE_5">M(5)</option>
      <option value="SIZE_8">M(8)</option>
      <option value="SIZE_13">M(13)</option>
      <option value="SIZE_20">L(20)</option>
      <option value="SIZE_40">L(40)</option>
      <option value="SIZE_100">XL(100)</option>
    </select>
    <button type="button" (click)="finalVoteSize()" [disabled]="!canVote()">Final Size Vote</button>
  </div>
  } @else {
  <div class="ticketActions">
    <select name="selectedSize" id="selectedSize" [(ngModel)]="selectedSize">
      <option value="SIZE_1">S(1)</option>
      <option value="SIZE_2">S(2)</option>
      <option value="SIZE_3">S(3)</option>
      <option value="SIZE_5">M(5)</option>
      <option value="SIZE_8">M(8)</option>
      <option value="SIZE_13">M(13)</option>
      <option value="SIZE_20">L(20)</option>
      <option value="SIZE_40">L(40)</option>
      <option value="SIZE_100">XL(100)</option>
    </select>
    <button type="button" (click)="voteSize()" [disabled]="!canVote()">Size Vote</button>
  </div>
  }
  } @else {
  <div class="ticketActions">
    <select name="selectedStatus" id="selectedStatus" [(ngModel)]="selectedStatus">
      <option value="DEV_READY">DEV READY</option>
      <option value="IN_PROGRESS">IN PROGRESS</option>
      <option value="CODE_REVIEW_READY">CODE REVIEW READY</option>
      <option value="QA_READY">QA READY</option>
      <option value="RELEASE_READY">RELEASE READY</option>
      <option value="DONE">DONE</option>
    </select>
    <button type="button" (click)="changeStatus()">Change status</button>
  </div>
  }
</div>

<div class="fieldRow">
  <p class="fieldName"><strong>Author: </strong></p>
  <p class="fieldValue">{{ticket.author.firstName}} {{ticket.author.lastName}}</p>
</div>

<div class="fieldRow">
  <p class="fieldName"><strong>Created at: </strong></p>
  <p class="fieldValue">{{ticket.creationTime | date: 'dd-MM-yyyy HH:mm:ss'}}</p>
</div>

<div class="fieldRow">
  <p class="fieldName"><strong>Status: </strong></p>
  <p class="fieldValue">{{ticket.status}}</p>
</div>

<div class="fieldRow">
  <p class="fieldName"><strong>Size: </strong></p>
  <p class="fieldValue">{{ticket.size}}</p>
</div>

<div class="fieldRow">
  <p class="fieldName"><strong>Assignee: </strong></p>
  @if (ticket.assignee) {
  <p class="fieldValue">{{ticket.assignee.firstName}} {{ticket.assignee.lastName}}</p>
  } @else {
  <p class="fieldValue">Unassigned</p>
  }
</div>

<div class="fieldRow">
  <p class="fieldName"><strong>Sprint: </strong></p>
  @if (ticket.sprint) {
  <p class="fieldValue">{{ticket.sprint.name}}</p>
  } @else {
  <p class="fieldValue">Unassigned</p>
  }
</div>

<details>
  <summary class="fieldName"><strong>Comments: </strong></summary>
  @if (!ticketCommentAdd) {
  <button type="button" (click)="addComment()" class="commentButton">Add comment</button>
  } @else {
  <div class="commentEditField">
    <textarea id="ticketComment" name="ticketComment" cols="50" rows="5" [(ngModel)]="commentEdit"></textarea>
    <button type="button" (click)="saveComment()" class="commentButton">Save comment</button>
  </div>
  }

  <div>
    @for (comment of ticket.comments; track $index) {
    <div class="commentBox">
      <div class="commentMetadata">
        <p class="commentMetadataPart"><strong>{{comment.author.firstName}} {{comment.author.lastName}}</strong></p>
        <p class="commentMetadataPart">{{comment.creationTime | date: 'dd-MM-yyyy HH:mm'}}</p>
      </div>
      <p class="commentContent">{{comment.content}}</p>
    </div>

    }
  </div>
</details>

<details>
  <summary class="fieldName"><strong>Events:</strong></summary>
  <ul>
    @for (event of ticket.events; track $index) {
    <li>{{renderEvent(event)}}</li>
    }
  </ul>
</details>

<div class="content">
  @if (!ticketContentEdit) {
  <label for="ticketContent" class="fieldName"><strong>Content </strong><button type="button"
      (click)="editContent()">Edit</button></label>
  <markdown [data]="ticket.content"></markdown>
  } @else {
  <label for="ticketContent" class="fieldName"><strong>Content </strong><button type="button"
      (click)="saveContent()">Save</button></label>
  <textarea id="ticketContent" name="ticketContent" cols="50" rows="20" [(ngModel)]="ticket.content"
    required></textarea>
  }
</div>
}