table {
  width: 99%;
  text-align: left;
  margin-bottom: 15px;
  border-collapse: collapse;
}

thead {
  background-color: rebeccapurple;
  color: wheat;
}

td,
th {
  border: 2px solid black;
}

.actionItems {
  cursor: pointer;
  margin-right: 15px;
}

.deleteItem {
  color: red;
}

.actionItems:hover {
  color: grey;
}

.actionCell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fixedCell {
  width: 80px;
}

a {
  color: rebeccapurple;
  text-decoration: none;
}

a:hover {
  color: wheat;
}